{% extends './layouts/dashboard.html' %}

{% block content %}

<link href="static/css/chats.css" rel="stylesheet" type="text/css">

<div id="frame">
	<div id="sidepanel">
		<div id="contacts">
			<ul id = "contacts_ul">

			</ul>
		</div>
	</div>
	<div class="content">
		<div class="contact-profile">
			<div class="loader" id="loader_reports" style="border: 10px solid #2c3e50; border-top: 10px solid #3498db;" hidden></div>
			<img src="static/img/user.png" id = "pic" alt= "" />
			<p class = "current_cl"></p>
			<div class="social-media">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				<i class="fa fa-twitter" aria-hidden="true"></i>
				 <i class="fa fa-instagram" aria-hidden="true"></i>
			</div>
		</div>
		<div class="messages">
			<ul id = "messages_ul" hidden>

			</ul>
		</div>
    <div class="message-input">
      <div class="wrap">
  			<textarea type="text" placeholder="Write your message..." cols="40" rows="5" style="margin-top: 0px;margin-bottom: 0px;height: 100px;min-height: 100px;max-height: 100px;"></textarea>
		    <div style="background: white;">
          <button class="submit replies" style="height: 40px;margin-top: 60px;">
            <i class="icon-clippy" aria-hidden="true" style=""></i>
          </button>
        </div>

        <div style="background: white;">
          <button class="submit sent" style="height: 40px;margin-top: 60px;">
            <i class="icon-envelop" aria-hidden="true" style=""></i>
          </button>
        </div>
      </div>
  </div>
</div>
</div>

<script >

$(document).ready(function(){
  let timerId = setInterval(() => getContacts(), 5000);
});

let contact_list = []

function getContacts(){
    $.ajax({
      type: 'POST',
      url: '/chats',
      data: JSON.stringify({"method":"get_contacts"}),
      success: function(response){
          if (response.result){
			contact_list_new = []
            for (var i = 0; i < response.table.length; i++) {
							var from = 'Вы'
							if (response.table[i].from_me == 0){
								from = response.table[i].last_name+' '+response.table[i].first_name
							}
							if (!contact_list.includes(response.table[i].user_id)){
								contact_list_new.push(response.table[i].user_id)
								$('#contacts_ul').prepend('\
									<li class="contact" user_id = "'+response.table[i].user_id+'">\
										<div class="wrap">\
											<span class="contact-status online"></span>\
											<img src="static/img/user.png" alt="" />\
											<div class="meta">\
												<p class="name">'+response.table[i].last_name+' '+response.table[i].first_name+'</p>\
												<p class="preview"><span>'+from+': </span>'+response.table[i].message+'</p>\
											</div>\
										</div>\
									</li>\
								')
							}
							else{
								contact_list_new.push(response.table[i].user_id);
								$('#contacts_ul > li').each(function(e){
									if($(this).attr('user_id') == response.table[i].user_id){
										$(this).getElementsByClassName('preview')[0].innerHTML('<span>'+from+': </span>'+response.table[i].message+'</p>');
									};
								});
							}
							console.log(contact_list)
            }
			contact_list = contact_list_new;
			$('#contacts_ul > li').each(function(e){
				if(!contact_list.includes($(this).attr('user_id'))){
					$(this).remove();
				};
			});
          }
          else {
            console.log(response);
          }
      },
      dataType:"json",
    });
};






function newMessage(message, name = 'Вы', time = '2021-09-31 23:38') {
	$('<li class="sent"><img src="static/img/user.png" alt="" /><p>' + message + '<br>-<br>'+name+': '+time+'</p></li>').appendTo($('.messages ul'));
	$('.message-input textarea').val(null);
	$('.contact.active .preview').html('<span>Вы: </span>' + message);
	$(".messages").animate({ scrollTop: docHeight + 93 }, 1);
	docHeight += 93;
};
	
var docHeight = $(document).height();
let last_message = ""


function newReplies(message, name = 'Абонент', time = '2021-09-31 23:38') {
	$('<li class="replies"><img src="static/img/user.png" alt="" /><p>' + message + '<br>-<br>'+name+': '+time+'</p></li>').appendTo($('.messages ul'));
	$('.message-input textarea').val(null);
	$('.contact.active .preview').html('<span>'+name+': </span>' + message);
	$(".messages").animate({ scrollTop: docHeight + 93 }, 1);
	docHeight += 93;
	last_message = message;
};

$('.submit.sent').click(function() {
	message = $(".message-input textarea").val();
	var d = new Date();
	var t = d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds()
	if($.trim(message) == '') {
		return false;
	}
	jsn = {
		"method":"send_message",
		"chat__id": $(".contact.active").attr('user_id'),
		"from_me": 1,
		"text": message,
		"answer_for": last_message,
	}
	$.ajax({
		type: 'POST',
		url: '/chats',
		data: JSON.stringify(jsn),
		success: function(response){
				if (response.result){
					newMessage(message, 'Вы', t);
				}
				else {
					if (response.err == 'A request to the Telegram API was unsuccessful. Error code: 403. Description: Forbidden: bot was blocked by the user'){
						generate_alert("Вы не можете отправить сообщение данному пользователю, так как он заблокировал бота. Ваш ответ был добавлен в шаблоны и будет использоваться в дальнейшем.", "warning")
					}
					else{
						console.log(response)
					}
				}
		},
		dataType:"json",
	});
	$('.message-input textarea').focus();
});

$('.submit.replies').click(function() {
	message = $(".message-input textarea").val();
	name = $(".contact.active .name").text();
	if($.trim(message) == '') {
		return false;
	}
	var d = new Date();
	var t = d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
  newReplies(message, name, time = t);
});

$(document).on('click', '.contact', function(){
	$('#messages_ul').empty();
	$(this).addClass('active');
	var name = $(".contact.active .name").text();
	document.getElementById('pic').hidden = true;
	document.getElementById('loader_reports').hidden = false;
	document.getElementById('messages_ul').hidden = true;
	$(".current_cl").text('');
	var id = $(".contact.active").attr('user_id');

	$.ajax({
		type: 'POST',
		url: '/chats',
		data: JSON.stringify({"method":"get_message", "chat__id": id}),
		success: function(response){
				if (response.result){
					// contact-status [away, inline, busy]
					// contact [active, selected-contact]
					for (var i = 0; i < response.table.length; i++) {
						if (response.table[i].from_me == 0){
							newReplies(response.table[i].message, name, response.table[i].date_insert)
						}
						else{
							newMessage(response.table[i].message, 'Вы', response.table[i].date_insert)
						}
					}
				}
				else {
					console.log(response);
				}
				document.getElementById('pic').hidden = false;
				document.getElementById('loader_reports').hidden = true;
				document.getElementById('messages_ul').hidden = false;
				$(".current_cl").text($(".contact.active .name").text());
		},
		dataType:"json",
	});
});

</script>

{% endblock %}
