{% extends './layouts/dashboard.html' %}

{% block content %}

<link href="static/css/chats.css" rel="stylesheet" type="text/css">

<div id="frame">
	<div id="sidepanel">
		<div id="contacts">
			<ul id = "contacts_ul">

			</ul>
		</div>
	</div>
	<div class="content">
		<div class="contact-profile">
			<img src="static/img/user.png" alt="" />
			<p>Harvey Specter</p>
			<div class="social-media">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				<i class="fa fa-twitter" aria-hidden="true"></i>
				 <i class="fa fa-instagram" aria-hidden="true"></i>
			</div>
		</div>
		<div class="messages">
			<ul id = "messages_ul">
				<li class="sent">
					<img src="static/img/user.png" alt="" />
					<p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>
				</li>
				<li class="replies">
					<img src="static/img/user.png" alt="" />
					<p>When you're backed against the wall, break the god damn thing down.</p>
				</li>
				<li class="replies">
					<img src="static/img/user.png" alt="" />
					<p>Excuses don't win championships.</p>
				</li>
				<li class="sent">
					<img src="static/img/user.png" alt="" />
					<p>Oh yeah, did Michael Jordan tell you that?</p>
				</li>
				<li class="replies">
					<img src="static/img/user.png" alt="" />
					<p>No, I told him that.</p>
				</li>
				<li class="replies">
					<img src="static/img/user.png" alt="" />
					<p>What are your choices when someone puts a gun to your head?</p>
				</li>
				<li class="sent">
					<img src="static/img/user.png" alt="" />
					<p>What are you talking about? You do what they say or they shoot you.</p>
				</li>
				<li class="replies">
					<img src="static/img/user.png" alt="" />
					<p>Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p>
				</li>
			</ul>
		</div>
    <div class="message-input">
      <div class="wrap">
  			<textarea type="text" placeholder="Write your message..." cols="40" rows="5" style="margin-top: 0px;margin-bottom: 0px;height: 100px;min-height: 100px;max-height: 100px;"></textarea>
		    <div style="background: white;">
          <button class="submit replies" style="height: 40px;margin-top: 60px;">
            <i class="icon-clippy" aria-hidden="true" style=""></i>
          </button>
        </div>

        <div style="background: white;">
          <button class="submit sent" style="height: 40px;margin-top: 60px;">
            <i class="icon-envelop" aria-hidden="true" style=""></i>
          </button>
        </div>
      </div>
  </div>
</div>
</div>

<script >

$(document).ready(function(){
  getContacts();
});

function getContacts(){
    $.ajax({
      type: 'POST',
      url: '/chats',
      data: JSON.stringify({"method":"get_contacts"}),
      success: function(response){
          if (response.result){
						// contact-status [away, inline, busy]
						// contact [active, selected-contact]
            for (var i = 0; i < response.table.length; i++) {
							$('#contacts_ul').prepend('\
							<li class="contact active" user_id = "'+response.table[i].user_id+'">\
								<div class="wrap">\
									<span class="contact-status online"></span>\
									<img src="static/img/user.png" alt="" />\
									<div class="meta">\
										<p class="name">'+response.table[i].last_name+' '+response.table[i].first_name+' (' +response.table[i].username+')'+'</p>\
										<p class="preview">'+response.table[i].message+'</p>\
									</div>\
								</div>\
							</li>\
							')
            }
          }
          else {
            console.log(response);
          }
      },
      dataType:"json",
    });
};

function newMessage(message, name = 'Абонент', time = '2021-09-31 23:38') {
	$('<li class="sent"><img src="static/img/user.png" alt="" /><p>' + message + '<br>-<br>'+name+': '+time+'</p></li>').appendTo($('.messages ul'));
	$('.message-input textarea').val(null);
  $('.message-input textarea').focus();
	$('.contact.active .preview').html('<span>'+name+': </span>' + message);
	$(".messages").animate({ scrollTop: $(document).height() }, "fast");
};

function newReplies(message, name = 'Абонент', time = '2021-09-31 23:38') {
	$('<li class="replies"><img src="static/img/user.png" alt="" /><p>' + message + '<br>-<br>'+name+': '+time+'</p></li>').appendTo($('.messages ul'));
	$('.message-input textarea').val(null);
  $('.message-input textarea').focus();
	$('.contact.active .preview').html('<span>'+name+': </span>' + message);
	$(".messages").animate({ scrollTop: $(document).height() }, "fast");
};

$('.submit.sent').click(function() {
	message = $(".message-input textarea").val();
	if($.trim(message) == '') {
		return false;
	}
  newMessage();
});

$('.submit.replies').click(function() {
	message = $(".message-input textarea").val();
	if($.trim(message) == '') {
		return false;
	}
  newReplies();
});

</script>

{% endblock %}
