{% extends './layouts/dashboard.html' %}

{% block content %}

<link href="static/css/chats.css" rel="stylesheet" type="text/css">

<div id="frame">
	<div id="sidepanel">
		<div id="contacts">
			<ul id = "contacts_ul">

			</ul>
		</div>
	</div>
	<div class="content">
		<div class="contact-profile">
			<img src="static/img/user.png" alt="" />
			<p class = "current_cl"></p>
			<div class="social-media">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				<i class="fa fa-twitter" aria-hidden="true"></i>
				 <i class="fa fa-instagram" aria-hidden="true"></i>
			</div>
		</div>
		<div class="messages">
			<ul id = "messages_ul">

			</ul>
		</div>
    <div class="message-input">
      <div class="wrap">
  			<textarea type="text" placeholder="Write your message..." cols="40" rows="5" style="margin-top: 0px;margin-bottom: 0px;height: 100px;min-height: 100px;max-height: 100px;"></textarea>
		    <div style="background: white;">
          <button class="submit replies" style="height: 40px;margin-top: 60px;">
            <i class="icon-clippy" aria-hidden="true" style=""></i>
          </button>
        </div>

        <div style="background: white;">
          <button class="submit sent" style="height: 40px;margin-top: 60px;">
            <i class="icon-envelop" aria-hidden="true" style=""></i>
          </button>
        </div>
      </div>
  </div>
</div>
</div>

<script >

$(document).ready(function(){
  getContacts();
});

function getContacts(){
    $.ajax({
      type: 'POST',
      url: '/chats',
      data: JSON.stringify({"method":"get_contacts"}),
      success: function(response){
          if (response.result){
						// contact-status [away, inline, busy]
						// contact [active, selected-contact]
            for (var i = 0; i < response.table.length; i++) {
							var from = 'Вы'
							if (response.table[i].from_me == 0){
								from = response.table[i].last_name+' '+response.table[i].first_name
							}
							$('#contacts_ul').prepend('\
							<li class="contact" user_id = "'+response.table[i].user_id+'">\
								<div class="wrap">\
									<span class="contact-status online"></span>\
									<img src="static/img/user.png" alt="" />\
									<div class="meta">\
										<p class="name">'+response.table[i].last_name+' '+response.table[i].first_name+'</p>\
										<p class="preview"><span>'+from+': </span>'+response.table[i].message+'</p>\
									</div>\
								</div>\
							</li>\
							')
            }
          }
          else {
            console.log(response);
          }
      },
      dataType:"json",
    });
};

function newMessage(message, name = 'Вы', time = '2021-09-31 23:38') {
	var docHeight = $(document).height();
	$('<li class="sent"><img src="static/img/user.png" alt="" /><p>' + message + '<br>-<br>'+name+': '+time+'</p></li>').appendTo($('.messages ul'));
	$('.message-input textarea').val(null);
  //$('.message-input textarea').focus();
	$('.contact.active .preview').html('<span>Вы: </span>' + message);
	$(".messages").animate({ scrollTop: docHeight + 93 }, "fast");
	docHeight += 93;
};

function newReplies(message, name = 'Абонент', time = '2021-09-31 23:38') {
	var docHeight = $(document).height();
	$('<li class="replies"><img src="static/img/user.png" alt="" /><p>' + message + '<br>-<br>'+name+': '+time+'</p></li>').appendTo($('.messages ul'));
	$('.message-input textarea').val(null);
  //$('.message-input textarea').focus();
	$('.contact.active .preview').html('<span>'+name+': </span>' + message);
	$(".messages").animate({ scrollTop: docHeight + 93 }, "fast");
	docHeight += 93;
};

$('.submit.sent').click(function() {
	message = $(".message-input textarea").val();
	var d = new Date();
	var t = d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds()
	if($.trim(message) == '') {
		return false;
	}
	jsn = {
		"method":"send_message",
		"chat__id": $(".contact.active").attr('user_id'),
		"from_me": 1,
		"text": message,
		"answer_for": "test",
	}
	$.ajax({
		type: 'POST',
		url: '/chats',
		data: JSON.stringify(jsn),
		success: function(response){
				if (response.result){
					newMessage(message, 'Вы', t);
				}
				else {
					console.log(response);
				}
		},
		dataType:"json",
	});
});

$('.submit.replies').click(function() {
	message = $(".message-input textarea").val();
	name = $(".contact.active .name").text();
	if($.trim(message) == '') {
		return false;
	}
	var d = new Date();
	var t = d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
  newReplies(message, name, time = t);
});

$(document).on('click', '.contact', function(){
	$('#messages_ul').empty();
	$(this).addClass('active');
	var name = $(".contact.active .name").text();
	var id = $(".contact.active").attr('user_id');
	$(".current_cl").text($(".contact.active .name").text());
	$.ajax({
		type: 'POST',
		url: '/chats',
		data: JSON.stringify({"method":"get_message", "chat__id": id}),
		success: function(response){
				if (response.result){
					// contact-status [away, inline, busy]
					// contact [active, selected-contact]
					for (var i = 0; i < response.table.length; i++) {
						if (response.table[i].from_me == 0){
							newReplies(response.table[i].message, name, response.table[i].date_insert)
						}
						else{
							newMessage(response.table[i].message, 'Вы', response.table[i].date_insert)
						}
					}
				}
				else {
					console.log(response);
				}
		},
		dataType:"json",
	});
});

</script>

{% endblock %}
